openapi: 3.1.0
info: 
  title: The Bookshelf API
  version: "1.0"
  summary: An API to keep track of Books
  description: This is an API for keeping track of books
  license: 
    name: MIT
    url: https://opensource.org/licenses/MIT
servers: 
  - url: http://api.bookshelf.com
    description: The Production Server
  - url: http://playground.api.bookshelf.com 
    description: The test server where you can play around
paths:
  /books:
    get:
      operationId: listBooks
      summary: List all books
      responses: 
        "200":
          description: OK
          content: 
            application/json: 
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    bookId:
                      type: string
                    name:
                      type: string
                    releaseDate:
                      type: string
                      format: date
        "400":
          description: Bad Request
    post:
      operationId: addBook
      summary: Add a new book
      requestBody: 
        content: 
          application/json: 
            schema: 
              type: object
              properties:
                name:
                  minLength: 2
                  maxLength: 100
                  type: string
                releaseDate:
                  type: string
                  format: date
                category:
                  type: string
                  enum:
                    - ROMANCE
                    - FICTION
                    - TECHNICAL
                    - HISTORY
                translatedLanguages:
                  type: array
                  minItems: 1
                  maxItems: 7200
                  uniqueItems: true
                  pattern: "[a-z]{2}-[A-Z]{2}"
                  examples:
                    - en-US
                    - fr-BE
                    - de-LU
                  items: 
                    type: string
                editionNumber:
                  minimum: 1
                  type: integer
                author:
                  type: object
                  properties:
                    authorId:
                      type: string
                      format: uuid
                    name:
                      type: string
                      default: John Doe
                    email:
                      type: string
                      format: email
                    website:
                      type: string
                      format: uri
                  required: 
                    -  authorId
                price:
                  format: double
                  type: number
                hardcoverEdition:
                  type: boolean
              required: 
                - name
                - releaseDate
      responses: 
        "201":
          description: Created
          headers:
            Location:
              schema: 
                type: string
                format: uri
        "409":
          description: Conflict
  /books/{bookId}:
    parameters: 
      - name: bookId
        in: path
        schema: 
          type: string
        required: true
    get:
      operationId: getBookInfo
      summary: Retrieve info about a book
      parameters: 
        - name: fetchAuthor
          in: query
          schema: 
            type: boolean
          required: false
        - name: Accept-Language
          in: header
          schema: 
            type: string
          required: false
        - name: SessionId
          in: cookie
          schema: 
            type: string
      responses: 
        "200":
          description: OK
          content: 
            application/json:
              schema: 
                type: object
                properties:
                  name:
                    minLength: 2
                    maxLength: 100
                    type: string
                  releaseDate:
                    type: string
                    format: date
                  category:
                    type: string
                    enum:
                      - ROMANCE
                      - FICTION
                      - TECHNICAL
                      - HISTORY
                  translatedLanguages:
                    type: array
                    minItems: 1
                    maxItems: 7200
                    uniqueItems: true
                    pattern: "[a-z]{2}-[A-Z]{2}"
                    examples:
                      - en-US
                      - fr-BE
                      - de-LU
                    items: 
                      type: string
                  editionNumber:
                    minimum: 1
                    type: integer
                  author:
                    type: object
                    properties:
                      authorId:
                        type: string
                        format: uuid
                      name:
                        type: string
                        default: John Doe
                      email:
                        type: string
                        format: email
                      website:
                        type: string
                        format: uri
                    required: 
                      -  authorId
                  price:
                    format: double
                    type: number
                  hardcoverEdition:
                    type: boolean
                required: 
                  - name
                  - releaseDate
        "404":
          description: Book not found  