openapi: 3.1.0
info: 
  title: The Bookshelf API
  version: "1.0"
  summary: An API to keep track of Books
  description: This is an API for keeping track of books
  license: 
    name: MIT
    url: https://opensource.org/licenses/MIT
servers: 
  - url: http://api.bookshelf.com
    description: The Production Server
  - url: http://playground.api.bookshelf.com 
    description: The test server where you can play around
tags: 
  - name: books
    description: Operations on books
security: 
  - GlobalSecurity: []
paths:
  /books:
    get:
      operationId: listBooks
      summary: List all books
      tags: 
        - public
      security: []
      responses: 
        "200":
          description: OK
          content: 
            application/json: 
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    bookId:
                      type: string
                    name:
                      type: string
                    releaseDate:
                      type: string
                      format: date
        "400":
          description: Bad Request
    post:
      operationId: addBook
      summary: Add a new book
      tags: 
        - books
      security:
        - ApiKeySecurity: []
        - GlobalSecurity: []
      requestBody: 
        $ref: "#/components/requestBodies/BookRequest"
      responses: 
        "201":
          description: Created
          headers:
            Location:
              schema: 
                type: string
                format: uri
        "401":
          $ref: '#/components/responses/UnauthorizedResponse'
        "409":
          description: Conflict
  /books/{bookId}:
    parameters: 
      - name: bookId
        in: path
        schema: 
          type: string
        required: true
    get:
      operationId: getBookInfo
      summary: Retrieve info about a book
      tags: 
        - books
      parameters: 
        - name: fetchAuthor
          in: query
          schema: 
            type: boolean
          required: false
        - name: Accept-Language
          in: header
          schema: 
            type: string
          required: false
        - name: SessionId
          in: cookie
          schema: 
            type: string
      responses: 
        "200":
          description: OK
          content: 
            application/json:
              schema: 
                $ref: "#/components/schemas/Book"
        "404":
          $ref: "#/components/responses/BookNotFound"
    delete: 
      operationId: removeBook
      summary: Removes a Book
      description: "~Removes~ the info about **a book** and all *related data* `permanently`"
      tags: 
        - books
      responses: 
        "200":
          description: OK
        "404":
          $ref: "#/components/responses/BookNotFound"
    put:
      operationId: updateBook
      summary: Update a Book
      tags: 
        - books
      requestBody: 
        $ref: "#/components/requestBodies/BookRequest"
        description: Book update request
      responses: 
        "200":
          description: OK
        "404":
          $ref: "#/components/responses/BookNotFound"
components: 
  schemas:
    Book:
      type: object
      properties:
        name:
          minLength: 2
          maxLength: 100
          type: string
        releaseDate:
          type: string
          format: date
        category:
          type: string
          enum:
            - ROMANCE
            - FICTION
            - TECHNICAL
            - HISTORY
            - SCIENCE FICTION
        translatedLanguages:
          type: array
          minItems: 1
          maxItems: 7200
          uniqueItems: true
          pattern: "[a-z]{2}-[A-Z]{2}"
          examples:
            - en-US
            - fr-BE
            - de-LU
          items: 
            type: string
        editionNumber:
          minimum: 1
          type: integer
        author:
          type: object
          properties:
            authorId:
              type: string
              format: uuid
            name:
              type: string
              default: John Doe
            email:
              type: string
              format: email
            website:
              type: string
              format: uri
          required: 
            -  authorId
        price:
          format: double
          type: number
        hardcoverEdition:
          type: boolean
      required: 
        - name
        - releaseDate
  headers:
    UnauthorizedHeader:
      schema: 
        type: string
        enum:
          - Basic
          - Bearer
  responses:
    BookNotFound:
      description: Book not found
    UnauthorizedResponse:
      description: HTTP Security failed
      headers:
        WWW-Authenticate:
          $ref: "#/components/headers/UnauthorizedHeader"
  requestBodies:
    BookRequest:
      description: Book request
      content: 
        application/json: 
          schema: 
            $ref: "#/components/schemas/Book"
  securitySchemes:
    GlobalSecurity:
      type: http
      description: Global security for all the endpoints
      scheme: Basic
    ApiKeySecurity:
      type: apiKey
      name: Api-Key
      in: header