openapi: 3.1.0
info:
  title: The Bookshelf API
  version: '1.0'
  summary: An API to keep track of Books
  description: This is an API for keeping track of books
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  x-logo:
    url: >-
      https://cdn.iconscout.com/icon/free/png-256/healthy-reading-2130817-1794962.png
servers:
  - url: 'http://api.bookshelf.com'
    description: The Production Server
  - url: 'http://playground.api.bookshelf.com'
    description: The test server where you can play around
tags:
  - name: books
    description: Operations on books
  - name: notifications
    description: Notifications of shelf changes
security:
  - GlobalSecurity: []
webhooks:
  NotifyNewBook:
    get:
      operationId: notifyNewBook
      summary: Notifies clients of a new book in the shelf
      tags:
        - notifications
      parameters:
        - name: Location
          in: header
          schema:
            type: string
            format: uri
paths:
  /books:
    get:
      operationId: listBooks
      summary: List all books
      tags:
        - public
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    bookId:
                      type: string
                    name:
                      type: string
                    releaseDate:
                      type: string
                      format: date
        '400':
          description: Bad Request
    post:
      operationId: addBook
      summary: Add a new book
      tags:
        - books
      security:
        - ApiKeySecurity: []
        - GlobalSecurity: []
      requestBody:
        description: Book request
        content:
          application/json:
            schema:
              oneOf:
                - allOf:
                    - type: object
                      properties:
                        bookType:
                          type: string
                        name:
                          minLength: 2
                          maxLength: 100
                          type: string
                        releaseDate:
                          type: string
                          format: date
                        category:
                          type: string
                          enum:
                            - ROMANCE
                            - FICTION
                            - TECHNICAL
                            - HISTORY
                            - SCIENCE FICTION
                        translatedLanguages:
                          type: array
                          minItems: 1
                          maxItems: 7200
                          uniqueItems: true
                          pattern: '[a-z]{2}-[A-Z]{2}'
                          examples:
                            - - en-US
                              - en-GB
                            - - fr-BE
                              - fr-LU
                            - de-LU
                          items:
                            type: string
                        editionNumber:
                          minimum: 1
                          type: integer
                        author:
                          type: object
                          properties:
                            authorId:
                              type: string
                              format: uuid
                            name:
                              type: string
                              default: John Doe
                            email:
                              type: string
                              format: email
                            website:
                              type: string
                              format: uri
                          required:
                            - authorId
                        price:
                          format: double
                          type: number
                        hardcoverEdition:
                          type: boolean
                      required:
                        - name
                        - releaseDate
                    - type: object
                      properties:
                        historicPeriod:
                          oneOf:
                            - type: string
                              pattern: '[0-9]{1,3} (AD|BC)'
                              examples:
                                - 219 BC
                            - type: string
                              pattern: '[0-9]{4}'
                              examples:
                                - 1143
                - allOf:
                    - type: object
                      properties:
                        bookType:
                          type: string
                        name:
                          minLength: 2
                          maxLength: 100
                          type: string
                        releaseDate:
                          type: string
                          format: date
                        category:
                          type: string
                          enum:
                            - ROMANCE
                            - FICTION
                            - TECHNICAL
                            - HISTORY
                            - SCIENCE FICTION
                        translatedLanguages:
                          type: array
                          minItems: 1
                          maxItems: 7200
                          uniqueItems: true
                          pattern: '[a-z]{2}-[A-Z]{2}'
                          examples:
                            - - en-US
                              - en-GB
                            - - fr-BE
                              - fr-LU
                            - de-LU
                          items:
                            type: string
                        editionNumber:
                          minimum: 1
                          type: integer
                        author:
                          type: object
                          properties:
                            authorId:
                              type: string
                              format: uuid
                            name:
                              type: string
                              default: John Doe
                            email:
                              type: string
                              format: email
                            website:
                              type: string
                              format: uri
                          required:
                            - authorId
                        price:
                          format: double
                          type: number
                        hardcoverEdition:
                          type: boolean
                      required:
                        - name
                        - releaseDate
                    - type: object
                      properties:
                        filmAdaptation:
                          anyOf:
                            - type: object
                              properties:
                                yearOfRelease:
                                  type:
                                    - integer
                                    - string
                            - type: object
                              properties:
                                producedBy:
                                  not:
                                    type: boolean
              discriminator:
                propertyName: bookType
                mapping:
                  history: '#/components/schemas/BookHistory'
                  romance: '#/components/schemas/BookRomance'
            examples:
              AStudyInScarletHistory:
                summary: An history book
                description: An example of a history book called "A Study in Scarlet"
                value:
                  name: A Study in Scarlet
                  releaseDate: '1887-12-01'
                  translatedLanguages:
                    - en-US
                  editionNumber: 1
                  author:
                    authorId: null
                    name: Arthur Conan Doyle
                    email: author@mail.com
                    website: 'https://example.com'
                  price: 15
                  hardcoverEdition: true
                  bookType: history
                  historicPeriod: 1887
              AStudyInScarletRomance:
                summary: A romance book
                description: An example of a romance book called "A Study in Scarlet"
                value:
                  name: A Study in Scarlet
                  releaseDate: '1887-12-01'
                  translatedLanguages:
                    - en-US
                  editionNumber: 1
                  author:
                    authorId: null
                    name: Arthur Conan Doyle
                    email: author@mail.com
                    website: 'https://example.com'
                  price: 15
                  hardcoverEdition: true
                  bookType: romance
                  filmAdaptation:
                    yearOfRelease: 1914
                    directedBy: G. B. Samuelson
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
                format: uri
          links:
            GetBook:
              operationId: getBookInfo
              parameters:
                url: $response.header.location
        '401':
          description: HTTP Security failed
          headers:
            WWW-Authenticate:
              schema:
                type: string
                enum:
                  - Basic
                  - Bearer
        '409':
          description: Conflict
  '/books/{bookId}':
    parameters:
      - name: bookId
        in: path
        schema:
          type: string
        required: true
    get:
      operationId: getBookInfo
      summary: Retrieve info about a book
      tags:
        - books
      security:
        - OAuthSecurity:
            - 'books:read'
        - GlobalSecurity: []
      parameters:
        - name: fetchAuthor
          in: query
          schema:
            type: boolean
          required: false
        - name: Accept-Language
          in: header
          schema:
            type: string
          required: false
        - name: SessionId
          in: cookie
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - allOf:
                      - type: object
                        properties:
                          bookType:
                            type: string
                          name:
                            minLength: 2
                            maxLength: 100
                            type: string
                          releaseDate:
                            type: string
                            format: date
                          category:
                            type: string
                            enum:
                              - ROMANCE
                              - FICTION
                              - TECHNICAL
                              - HISTORY
                              - SCIENCE FICTION
                          translatedLanguages:
                            type: array
                            minItems: 1
                            maxItems: 7200
                            uniqueItems: true
                            pattern: '[a-z]{2}-[A-Z]{2}'
                            examples:
                              - - en-US
                                - en-GB
                              - - fr-BE
                                - fr-LU
                              - de-LU
                            items:
                              type: string
                          editionNumber:
                            minimum: 1
                            type: integer
                          author:
                            type: object
                            properties:
                              authorId:
                                type: string
                                format: uuid
                              name:
                                type: string
                                default: John Doe
                              email:
                                type: string
                                format: email
                              website:
                                type: string
                                format: uri
                            required:
                              - authorId
                          price:
                            format: double
                            type: number
                          hardcoverEdition:
                            type: boolean
                        required:
                          - name
                          - releaseDate
                      - type: object
                        properties:
                          historicPeriod:
                            oneOf:
                              - type: string
                                pattern: '[0-9]{1,3} (AD|BC)'
                                examples:
                                  - 219 BC
                              - type: string
                                pattern: '[0-9]{4}'
                                examples:
                                  - 1143
                  - allOf:
                      - type: object
                        properties:
                          bookType:
                            type: string
                          name:
                            minLength: 2
                            maxLength: 100
                            type: string
                          releaseDate:
                            type: string
                            format: date
                          category:
                            type: string
                            enum:
                              - ROMANCE
                              - FICTION
                              - TECHNICAL
                              - HISTORY
                              - SCIENCE FICTION
                          translatedLanguages:
                            type: array
                            minItems: 1
                            maxItems: 7200
                            uniqueItems: true
                            pattern: '[a-z]{2}-[A-Z]{2}'
                            examples:
                              - - en-US
                                - en-GB
                              - - fr-BE
                                - fr-LU
                              - de-LU
                            items:
                              type: string
                          editionNumber:
                            minimum: 1
                            type: integer
                          author:
                            type: object
                            properties:
                              authorId:
                                type: string
                                format: uuid
                              name:
                                type: string
                                default: John Doe
                              email:
                                type: string
                                format: email
                              website:
                                type: string
                                format: uri
                            required:
                              - authorId
                          price:
                            format: double
                            type: number
                          hardcoverEdition:
                            type: boolean
                        required:
                          - name
                          - releaseDate
                      - type: object
                        properties:
                          filmAdaptation:
                            anyOf:
                              - type: object
                                properties:
                                  yearOfRelease:
                                    type:
                                      - integer
                                      - string
                              - type: object
                                properties:
                                  producedBy:
                                    not:
                                      type: boolean
                discriminator:
                  propertyName: bookType
                  mapping:
                    history: '#/components/schemas/BookHistory'
                    romance: '#/components/schemas/BookRomance'
              examples:
                AStudyInScarletHistory:
                  summary: An history book
                  description: An example of a history book called "A Study in Scarlet"
                  value:
                    name: A Study in Scarlet
                    releaseDate: '1887-12-01'
                    translatedLanguages:
                      - en-US
                    editionNumber: 1
                    author:
                      authorId: null
                      name: Arthur Conan Doyle
                      email: author@mail.com
                      website: 'https://example.com'
                    price: 15
                    hardcoverEdition: true
                    bookType: history
                    historicPeriod: 1887
                AStudyInScarletRomance:
                  summary: A romance book
                  description: An example of a romance book called "A Study in Scarlet"
                  value:
                    name: A Study in Scarlet
                    releaseDate: '1887-12-01'
                    translatedLanguages:
                      - en-US
                    editionNumber: 1
                    author:
                      authorId: null
                      name: Arthur Conan Doyle
                      email: author@mail.com
                      website: 'https://example.com'
                    price: 15
                    hardcoverEdition: true
                    bookType: romance
                    filmAdaptation:
                      yearOfRelease: 1914
                      directedBy: G. B. Samuelson
        '401':
          description: HTTP Security failed
          headers:
            WWW-Authenticate:
              schema:
                type: string
                enum:
                  - Basic
                  - Bearer
        '404':
          description: Book not found
    delete:
      operationId: removeBook
      summary: Removes a Book
      description: ~Removes~ the info about **a book** and all *related data* `permanently`
      tags:
        - books
      security:
        - OidcSecurity: []
      responses:
        '200':
          description: OK
        '404':
          description: Book not found
    put:
      operationId: updateBook
      summary: Update a Book
      tags:
        - books
      security:
        - MutualTlsSecurity: []
      requestBody:
        description: Book request
        content:
          application/json:
            schema:
              oneOf:
                - allOf:
                    - type: object
                      properties:
                        bookType:
                          type: string
                        name:
                          minLength: 2
                          maxLength: 100
                          type: string
                        releaseDate:
                          type: string
                          format: date
                        category:
                          type: string
                          enum:
                            - ROMANCE
                            - FICTION
                            - TECHNICAL
                            - HISTORY
                            - SCIENCE FICTION
                        translatedLanguages:
                          type: array
                          minItems: 1
                          maxItems: 7200
                          uniqueItems: true
                          pattern: '[a-z]{2}-[A-Z]{2}'
                          examples:
                            - - en-US
                              - en-GB
                            - - fr-BE
                              - fr-LU
                            - de-LU
                          items:
                            type: string
                        editionNumber:
                          minimum: 1
                          type: integer
                        author:
                          type: object
                          properties:
                            authorId:
                              type: string
                              format: uuid
                            name:
                              type: string
                              default: John Doe
                            email:
                              type: string
                              format: email
                            website:
                              type: string
                              format: uri
                          required:
                            - authorId
                        price:
                          format: double
                          type: number
                        hardcoverEdition:
                          type: boolean
                      required:
                        - name
                        - releaseDate
                    - type: object
                      properties:
                        historicPeriod:
                          oneOf:
                            - type: string
                              pattern: '[0-9]{1,3} (AD|BC)'
                              examples:
                                - 219 BC
                            - type: string
                              pattern: '[0-9]{4}'
                              examples:
                                - 1143
                - allOf:
                    - type: object
                      properties:
                        bookType:
                          type: string
                        name:
                          minLength: 2
                          maxLength: 100
                          type: string
                        releaseDate:
                          type: string
                          format: date
                        category:
                          type: string
                          enum:
                            - ROMANCE
                            - FICTION
                            - TECHNICAL
                            - HISTORY
                            - SCIENCE FICTION
                        translatedLanguages:
                          type: array
                          minItems: 1
                          maxItems: 7200
                          uniqueItems: true
                          pattern: '[a-z]{2}-[A-Z]{2}'
                          examples:
                            - - en-US
                              - en-GB
                            - - fr-BE
                              - fr-LU
                            - de-LU
                          items:
                            type: string
                        editionNumber:
                          minimum: 1
                          type: integer
                        author:
                          type: object
                          properties:
                            authorId:
                              type: string
                              format: uuid
                            name:
                              type: string
                              default: John Doe
                            email:
                              type: string
                              format: email
                            website:
                              type: string
                              format: uri
                          required:
                            - authorId
                        price:
                          format: double
                          type: number
                        hardcoverEdition:
                          type: boolean
                      required:
                        - name
                        - releaseDate
                    - type: object
                      properties:
                        filmAdaptation:
                          anyOf:
                            - type: object
                              properties:
                                yearOfRelease:
                                  type:
                                    - integer
                                    - string
                            - type: object
                              properties:
                                producedBy:
                                  not:
                                    type: boolean
              discriminator:
                propertyName: bookType
                mapping:
                  history: '#/components/schemas/BookHistory'
                  romance: '#/components/schemas/BookRomance'
            examples:
              AStudyInScarletHistory:
                summary: An history book
                description: An example of a history book called "A Study in Scarlet"
                value:
                  name: A Study in Scarlet
                  releaseDate: '1887-12-01'
                  translatedLanguages:
                    - en-US
                  editionNumber: 1
                  author:
                    authorId: null
                    name: Arthur Conan Doyle
                    email: author@mail.com
                    website: 'https://example.com'
                  price: 15
                  hardcoverEdition: true
                  bookType: history
                  historicPeriod: 1887
              AStudyInScarletRomance:
                summary: A romance book
                description: An example of a romance book called "A Study in Scarlet"
                value:
                  name: A Study in Scarlet
                  releaseDate: '1887-12-01'
                  translatedLanguages:
                    - en-US
                  editionNumber: 1
                  author:
                    authorId: null
                    name: Arthur Conan Doyle
                    email: author@mail.com
                    website: 'https://example.com'
                  price: 15
                  hardcoverEdition: true
                  bookType: romance
                  filmAdaptation:
                    yearOfRelease: 1914
                    directedBy: G. B. Samuelson
      responses:
        '200':
          description: OK
        '404':
          description: Book not found
  /books/upload-cover:
    servers:
      - url: 'https://storage-{region}.bookshelf.com'
        description: The Storage Backend
        variables:
          region:
            description: The region where the data center is located
            default: eu
            enum:
              - eu
              - us
    post:
      operationId: uploadCover
      summary: Upload a book cover to the storage
      tags:
        - books
      requestBody:
        content:
          img/png:
            schema:
              type: string
              contentEncoding: base64
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  contentEncoding: base64
                bookId:
                  type: string
                editionNumber:
                  type: string
                successUrl:
                  type: string
                  format: uri
                failedUrl:
                  type: string
                  format: uri
      responses:
        '200':
          description: Upload request complete
        '400':
          description: Bad Request
        '401':
          description: HTTP Security failed
          headers:
            WWW-Authenticate:
              schema:
                type: string
                enum:
                  - Basic
                  - Bearer
        '522':
          description: Timeout
      callbacks:
        uploadFinished:
          $request.body#/successUrl:
            get:
              operationId: uploadSuccess
              summary: Callback for a successful book cover upload
              security:
                - GlobalSecurity: []
              parameters:
                - name: Location
                  in: header
                  schema:
                    type: string
                    format: uri
        uploadFailed:
          $request.body#/failedUrl:
            post:
              operationId: uploadFailed
              summary: Callback for a failed book cover upload
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        error:
                          type: string
                          enum:
                            - max_size_exceeded
                        errorDescription:
                          type: string
  /books/subscribe:
    post:
      operationId: subscribeNewBook
      summary: >-
        Subscribe to receive a notification when a new book is added to the
        shelf
      tags:
        - notifications
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                authorId:
                  type: string
                  format: uuid
                publishUrl:
                  type: string
                  format: uri
      responses:
        '200':
          description: OK
        '404':
          description: Author not found
components:
  schemas:
    Book:
      oneOf:
        - allOf:
            - type: object
              properties:
                bookType:
                  type: string
                name:
                  minLength: 2
                  maxLength: 100
                  type: string
                releaseDate:
                  type: string
                  format: date
                category:
                  type: string
                  enum:
                    - ROMANCE
                    - FICTION
                    - TECHNICAL
                    - HISTORY
                    - SCIENCE FICTION
                translatedLanguages:
                  type: array
                  minItems: 1
                  maxItems: 7200
                  uniqueItems: true
                  pattern: '[a-z]{2}-[A-Z]{2}'
                  examples:
                    - - en-US
                      - en-GB
                    - - fr-BE
                      - fr-LU
                    - de-LU
                  items:
                    type: string
                editionNumber:
                  minimum: 1
                  type: integer
                author:
                  type: object
                  properties:
                    authorId:
                      type: string
                      format: uuid
                    name:
                      type: string
                      default: John Doe
                    email:
                      type: string
                      format: email
                    website:
                      type: string
                      format: uri
                  required:
                    - authorId
                price:
                  format: double
                  type: number
                hardcoverEdition:
                  type: boolean
              required:
                - name
                - releaseDate
            - type: object
              properties:
                historicPeriod:
                  oneOf:
                    - type: string
                      pattern: '[0-9]{1,3} (AD|BC)'
                      examples:
                        - 219 BC
                    - type: string
                      pattern: '[0-9]{4}'
                      examples:
                        - 1143
        - allOf:
            - type: object
              properties:
                bookType:
                  type: string
                name:
                  minLength: 2
                  maxLength: 100
                  type: string
                releaseDate:
                  type: string
                  format: date
                category:
                  type: string
                  enum:
                    - ROMANCE
                    - FICTION
                    - TECHNICAL
                    - HISTORY
                    - SCIENCE FICTION
                translatedLanguages:
                  type: array
                  minItems: 1
                  maxItems: 7200
                  uniqueItems: true
                  pattern: '[a-z]{2}-[A-Z]{2}'
                  examples:
                    - - en-US
                      - en-GB
                    - - fr-BE
                      - fr-LU
                    - de-LU
                  items:
                    type: string
                editionNumber:
                  minimum: 1
                  type: integer
                author:
                  type: object
                  properties:
                    authorId:
                      type: string
                      format: uuid
                    name:
                      type: string
                      default: John Doe
                    email:
                      type: string
                      format: email
                    website:
                      type: string
                      format: uri
                  required:
                    - authorId
                price:
                  format: double
                  type: number
                hardcoverEdition:
                  type: boolean
              required:
                - name
                - releaseDate
            - type: object
              properties:
                filmAdaptation:
                  anyOf:
                    - type: object
                      properties:
                        yearOfRelease:
                          type:
                            - integer
                            - string
                    - type: object
                      properties:
                        producedBy:
                          not:
                            type: boolean
      discriminator:
        propertyName: bookType
        mapping:
          history: '#/components/schemas/BookHistory'
          romance: '#/components/schemas/BookRomance'
    BookBase:
      type: object
      properties:
        bookType:
          type: string
        name:
          minLength: 2
          maxLength: 100
          type: string
        releaseDate:
          type: string
          format: date
        category:
          type: string
          enum:
            - ROMANCE
            - FICTION
            - TECHNICAL
            - HISTORY
            - SCIENCE FICTION
        translatedLanguages:
          type: array
          minItems: 1
          maxItems: 7200
          uniqueItems: true
          pattern: '[a-z]{2}-[A-Z]{2}'
          examples:
            - - en-US
              - en-GB
            - - fr-BE
              - fr-LU
            - de-LU
          items:
            type: string
        editionNumber:
          minimum: 1
          type: integer
        author:
          type: object
          properties:
            authorId:
              type: string
              format: uuid
            name:
              type: string
              default: John Doe
            email:
              type: string
              format: email
            website:
              type: string
              format: uri
          required:
            - authorId
        price:
          format: double
          type: number
        hardcoverEdition:
          type: boolean
      required:
        - name
        - releaseDate
    BookHistory:
      allOf:
        - type: object
          properties:
            bookType:
              type: string
            name:
              minLength: 2
              maxLength: 100
              type: string
            releaseDate:
              type: string
              format: date
            category:
              type: string
              enum:
                - ROMANCE
                - FICTION
                - TECHNICAL
                - HISTORY
                - SCIENCE FICTION
            translatedLanguages:
              type: array
              minItems: 1
              maxItems: 7200
              uniqueItems: true
              pattern: '[a-z]{2}-[A-Z]{2}'
              examples:
                - - en-US
                  - en-GB
                - - fr-BE
                  - fr-LU
                - de-LU
              items:
                type: string
            editionNumber:
              minimum: 1
              type: integer
            author:
              type: object
              properties:
                authorId:
                  type: string
                  format: uuid
                name:
                  type: string
                  default: John Doe
                email:
                  type: string
                  format: email
                website:
                  type: string
                  format: uri
              required:
                - authorId
            price:
              format: double
              type: number
            hardcoverEdition:
              type: boolean
          required:
            - name
            - releaseDate
        - type: object
          properties:
            historicPeriod:
              oneOf:
                - type: string
                  pattern: '[0-9]{1,3} (AD|BC)'
                  examples:
                    - 219 BC
                - type: string
                  pattern: '[0-9]{4}'
                  examples:
                    - 1143
    BookRomance:
      allOf:
        - type: object
          properties:
            bookType:
              type: string
            name:
              minLength: 2
              maxLength: 100
              type: string
            releaseDate:
              type: string
              format: date
            category:
              type: string
              enum:
                - ROMANCE
                - FICTION
                - TECHNICAL
                - HISTORY
                - SCIENCE FICTION
            translatedLanguages:
              type: array
              minItems: 1
              maxItems: 7200
              uniqueItems: true
              pattern: '[a-z]{2}-[A-Z]{2}'
              examples:
                - - en-US
                  - en-GB
                - - fr-BE
                  - fr-LU
                - de-LU
              items:
                type: string
            editionNumber:
              minimum: 1
              type: integer
            author:
              type: object
              properties:
                authorId:
                  type: string
                  format: uuid
                name:
                  type: string
                  default: John Doe
                email:
                  type: string
                  format: email
                website:
                  type: string
                  format: uri
              required:
                - authorId
            price:
              format: double
              type: number
            hardcoverEdition:
              type: boolean
          required:
            - name
            - releaseDate
        - type: object
          properties:
            filmAdaptation:
              anyOf:
                - type: object
                  properties:
                    yearOfRelease:
                      type:
                        - integer
                        - string
                - type: object
                  properties:
                    producedBy:
                      not:
                        type: boolean
  headers:
    UnauthorizedHeader:
      schema:
        type: string
        enum:
          - Basic
          - Bearer
  responses:
    BookNotFound:
      description: Book not found
    UnauthorizedResponse:
      description: HTTP Security failed
      headers:
        WWW-Authenticate:
          schema:
            type: string
            enum:
              - Basic
              - Bearer
  requestBodies:
    BookRequest:
      description: Book request
      content:
        application/json:
          schema:
            oneOf:
              - allOf:
                  - type: object
                    properties:
                      bookType:
                        type: string
                      name:
                        minLength: 2
                        maxLength: 100
                        type: string
                      releaseDate:
                        type: string
                        format: date
                      category:
                        type: string
                        enum:
                          - ROMANCE
                          - FICTION
                          - TECHNICAL
                          - HISTORY
                          - SCIENCE FICTION
                      translatedLanguages:
                        type: array
                        minItems: 1
                        maxItems: 7200
                        uniqueItems: true
                        pattern: '[a-z]{2}-[A-Z]{2}'
                        examples:
                          - - en-US
                            - en-GB
                          - - fr-BE
                            - fr-LU
                          - de-LU
                        items:
                          type: string
                      editionNumber:
                        minimum: 1
                        type: integer
                      author:
                        type: object
                        properties:
                          authorId:
                            type: string
                            format: uuid
                          name:
                            type: string
                            default: John Doe
                          email:
                            type: string
                            format: email
                          website:
                            type: string
                            format: uri
                        required:
                          - authorId
                      price:
                        format: double
                        type: number
                      hardcoverEdition:
                        type: boolean
                    required:
                      - name
                      - releaseDate
                  - type: object
                    properties:
                      historicPeriod:
                        oneOf:
                          - type: string
                            pattern: '[0-9]{1,3} (AD|BC)'
                            examples:
                              - 219 BC
                          - type: string
                            pattern: '[0-9]{4}'
                            examples:
                              - 1143
              - allOf:
                  - type: object
                    properties:
                      bookType:
                        type: string
                      name:
                        minLength: 2
                        maxLength: 100
                        type: string
                      releaseDate:
                        type: string
                        format: date
                      category:
                        type: string
                        enum:
                          - ROMANCE
                          - FICTION
                          - TECHNICAL
                          - HISTORY
                          - SCIENCE FICTION
                      translatedLanguages:
                        type: array
                        minItems: 1
                        maxItems: 7200
                        uniqueItems: true
                        pattern: '[a-z]{2}-[A-Z]{2}'
                        examples:
                          - - en-US
                            - en-GB
                          - - fr-BE
                            - fr-LU
                          - de-LU
                        items:
                          type: string
                      editionNumber:
                        minimum: 1
                        type: integer
                      author:
                        type: object
                        properties:
                          authorId:
                            type: string
                            format: uuid
                          name:
                            type: string
                            default: John Doe
                          email:
                            type: string
                            format: email
                          website:
                            type: string
                            format: uri
                        required:
                          - authorId
                      price:
                        format: double
                        type: number
                      hardcoverEdition:
                        type: boolean
                    required:
                      - name
                      - releaseDate
                  - type: object
                    properties:
                      filmAdaptation:
                        anyOf:
                          - type: object
                            properties:
                              yearOfRelease:
                                type:
                                  - integer
                                  - string
                          - type: object
                            properties:
                              producedBy:
                                not:
                                  type: boolean
            discriminator:
              propertyName: bookType
              mapping:
                history: '#/components/schemas/BookHistory'
                romance: '#/components/schemas/BookRomance'
          examples:
            AStudyInScarletHistory:
              summary: An history book
              description: An example of a history book called "A Study in Scarlet"
              value:
                name: A Study in Scarlet
                releaseDate: '1887-12-01'
                translatedLanguages:
                  - en-US
                editionNumber: 1
                author:
                  authorId: null
                  name: Arthur Conan Doyle
                  email: author@mail.com
                  website: 'https://example.com'
                price: 15
                hardcoverEdition: true
                bookType: history
                historicPeriod: 1887
            AStudyInScarletRomance:
              summary: A romance book
              description: An example of a romance book called "A Study in Scarlet"
              value:
                name: A Study in Scarlet
                releaseDate: '1887-12-01'
                translatedLanguages:
                  - en-US
                editionNumber: 1
                author:
                  authorId: null
                  name: Arthur Conan Doyle
                  email: author@mail.com
                  website: 'https://example.com'
                price: 15
                hardcoverEdition: true
                bookType: romance
                filmAdaptation:
                  yearOfRelease: 1914
                  directedBy: G. B. Samuelson
  securitySchemes:
    GlobalSecurity:
      type: http
      description: Global security for all the endpoints
      scheme: Basic
    ApiKeySecurity:
      type: apiKey
      name: Api-Key
      in: header
    OAuthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: 'https://auth.bookshelf.com/authorize'
          tokenUrl: 'https://auth.bookshelf.com/access_token'
          scopes:
            'books:read': Operations on books that do not change the bookshelf
            'books:write': Operations on books to make changes to the bookshelf
    OidcSecurity:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.bookshelf.com'
    MutualTlsSecurity:
      type: mutualTLS
      description: the client present a valid certificate
  examples:
    AnHistoryBook:
      summary: An history book
      description: An example of a history book called "A Study in Scarlet"
      value:
        name: A Study in Scarlet
        releaseDate: '1887-12-01'
        translatedLanguages:
          - en-US
        editionNumber: 1
        author:
          authorId: null
          name: Arthur Conan Doyle
          email: author@mail.com
          website: 'https://example.com'
        price: 15
        hardcoverEdition: true
        bookType: history
        historicPeriod: 1887
    ARomanceBook:
      summary: A romance book
      description: An example of a romance book called "A Study in Scarlet"
      value:
        name: A Study in Scarlet
        releaseDate: '1887-12-01'
        translatedLanguages:
          - en-US
        editionNumber: 1
        author:
          authorId: null
          name: Arthur Conan Doyle
          email: author@mail.com
          website: 'https://example.com'
        price: 15
        hardcoverEdition: true
        bookType: romance
        filmAdaptation:
          yearOfRelease: 1914
          directedBy: G. B. Samuelson
  pathItems:
    UploadCover:
      servers:
        - url: 'https://storage-{region}.bookshelf.com'
          description: The Storage Backend
          variables:
            region:
              description: The region where the data center is located
              default: eu
              enum:
                - eu
                - us
      post:
        operationId: uploadCover
        summary: Upload a book cover to the storage
        tags:
          - books
        requestBody:
          content:
            img/png:
              schema:
                type: string
                contentEncoding: base64
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    contentEncoding: base64
                  bookId:
                    type: string
                  editionNumber:
                    type: string
                  successUrl:
                    type: string
                    format: uri
                  failedUrl:
                    type: string
                    format: uri
        responses:
          '200':
            description: Upload request complete
          '400':
            description: Bad Request
          '401':
            description: HTTP Security failed
            headers:
              WWW-Authenticate:
                schema:
                  type: string
                  enum:
                    - Basic
                    - Bearer
          '522':
            description: Timeout
        callbacks:
          uploadFinished:
            $request.body#/successUrl:
              get:
                operationId: uploadSuccess
                summary: Callback for a successful book cover upload
                security:
                  - GlobalSecurity: []
                parameters:
                  - name: Location
                    in: header
                    schema:
                      type: string
                      format: uri
          uploadFailed:
            $request.body#/failedUrl:
              post:
                operationId: uploadFailed
                summary: Callback for a failed book cover upload
                requestBody:
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          error:
                            type: string
                            enum:
                              - max_size_exceeded
                          errorDescription:
                            type: string

